body {
  background-color: #d9e4dd;
}

hr {
  border-style: none;
  border-top-style: dashed;
  border-width: 3px;
  border-color: grey;
  width: 30%;
}

h1 {
  color: #065c6f;
}

h2 {
  color: #065c6f;
}

h3 {
  color: #065c6f;
}
